@* @using JIRA_NTB.Models.Test
@model List<JIRA_NTB.Models.Test.Project> *@
@using Newtonsoft.Json
@* @model List<JIRA_NTB.Models.ProjectModel> *@
@model JIRA_NTB.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Tổng quan";
}
<div id="projectContainer"></div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/js/dashboard.js"></script>
}

